header{
    max-width: 37.5rem;
    height: 7.5rem;
    padding: 0 1rem;
    margin: auto;
    background-color: blueviolet;

}

header h4{
    padding: 0 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header div{

    background-color: aliceblue;
    padding: 4px 10px; 
    float: right;
    border-radius: 1rem;
}